<div class="col-md-3">


<div class="settings-block">
    <span class="settings-block__title">Manage Listing</span>
    <ul class="settings">
        <li class="setting <%= cp(new_user_service_path)%>"><a href="<%= new_user_service_path %>" class="setting__link"><i class="ion-ios-plus-outline setting__icon"></i>New Service Listing</a></li>
        <li class="setting <%= cp(user_services_path)%>"><a href="<%= user_services_path %>" class="setting__link"><i class="ion-ios-home-outline setting__icon"></i>My Listings</a></li>
        <li class="setting"><a href="/list_new" class="setting__link"><i class="ion-ios-undo-outline setting__icon"></i>Back</a></li>
    </ul>
</div>


</div>