<%=form_for message, remote: true,authenticity_token: true do |f|%>
  <%= f.text_field :content, data: {textarea: "message"}, class: "write_msg", placeholder: "Type a message/ enter to send"%>
<!-- this hidden field is for the MessagesController and Action Cable to keep track of what chat this message belongs to -->
<%= f.hidden_field :chat_id, value: chat.id %>
<%end%>

<label style="visibility: hidden;" id="myid"><%=  current_user.id%></label>

