

<% if  (message.user.id == current_user.id)  %>
    <div class="outgoing_msg">
      <div class="sent_msg">
        <p> <%=message.content%></p>
      </div>
    </div>
<% else %>
    <div class="incoming_msg">
      <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
      <div class="received_msg">
        <div class="received_withd_msg">
          <p> <%=message.content%></p>
        </div>
      </div>
    </div>
<% end %>