
<section class="my-profile">
<div class="container">
  <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding ht-breadcrumbs--b-border">
      <li class="ht-breadcrumbs__item"><a href="#" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Home</span></a></li>
      <li class="ht-breadcrumbs__item"><a href="#" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Pages</span></a></li>
      <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">My Profile</span></li>
  </ul><!-- .ht-breadcrumb -->

  <div class="my-profile__container">
    <div class="row">
      <div class="col-md-4" style="    width: 33.33333333333333% !important; float: left !important;">
        <div class="profile-left">
          <section>
            <div class="pic-wrapper">
              <div style="    box-sizing: border-box;">
                <div style="display:inline-block"><div class="_e296pg" style="height:120px;width:120px; display:block">
                  <img class="_1mgxxu3" src="https://a0.muscache.com/defaults/user_pic-225x225.png?v=3" height="120" width="120" alt="12" title="12">
                </div>
                </div>
                <br/>
                <br/>
                <div class="_teetq4b"></div>
                <hr/>
          <div class="_czm8crp"><%= @profile.user.email %></div>
            </div>
          </section>
          <br/>
          
        </div>
        <div class="settings-block" >
          
      </div><!-- .settings-block -->
        
      </div><!-- .col -->

      <div class="col-md-8" style=" margin-left 1rem">
      <div class="_1ekkhy94">Hi, I’m <%= @profile.first_name   %> <%= @profile.last_name   %></div>
      <br/>
      <br/>
      <h6 class="bookmarked-listing__headline">Basic Informataion</h6>
    <hr/>
      <div class="col-md-12 " style="margin: 1rem;">
      
      
      <h3 class="bookmarked-listing__headline">About me</h3>
      <p><%= @profile.about_me %></p>

      </div><!-- .col -->
      
      </div>

    </div><!-- .row -->
  </div><!-- .my-profile__container -->
</div><!-- .container -->
</section><!-- .my-profile -->