

<div class="checkthat">

<main class="profile">
  <div class="profile-bg"></div>
  <section class="container2">
    <aside class="profile-image">
      <a class="camera" href="#">
                    <i class="fas fa-envelope"></i>
                </a>
    </aside>
    <section class="profile-info">
      <h1 class="first-name">Angela</h1>
      <h1 class="second-name">Yun He</h1>
      <h2>ABOUT</h2>
      <p>
        hello hello, I'm angela, artist and developer 🌼 student at stanford; intern at zynga 🌱 happy to be here! 🌿 let's code the best we can!
      </p>

      <aside class="social-media-icons">
        <a href="https://twitter.com/zephybite" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
        <a href="https://codepen.io/zephyo" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
        <a href="https://github.com/zephyo" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
        </a>
        <a href="tel:123-456-7890" target="_blank">
                        <i class="fa fa-phone-square"></i>
                    </a>
      </aside>
    </section>
  </section>
  <section class="statistics">
  <button class="icon arrow left"></button>
    <p><strong><i class="fa fa-plus"> Friend</i></strong> </p>
    <p><strong>184</strong> Total Friend</p>
    <p><strong></strong> </p>
  </section>
  <button class="icon close"></button>
</main>

</div>
