 <div class="listing-sort listing-sort--main-listing" style="width: 50%;float: right;">
    <input type="text" id="search_agent" class="main-listing__form-field" placeholder="Search Agent by location..." style="width: 40% ;float:right">   
    <div class="listing-sort__inner" style="float:left;margin-top:1%">
      <p class="listing-sort__sort">
        <label for="sort-type" class="listing-sort__label">Select Agents</label>
        <select name="sort-type" id="sort-type" class="ht-field listing-sort__field" >
          <option value="ALL">ALL</option>
          <option value="Agent type1">Real Estate</option>
          <option value="Agent type1">Mortgage</option>
          <option value="Agent type1">Insurance</option>
        </select>
      </p><!-- .listing-sort__sort -->
    </div><!-- .listing-sort__inner -->
  </div><!-- .listing-sort -->