<!-- Info Listings Ends Here -->
<section class="footer-links">
  <div class="container">
    <a href=""> Home </a>
    <a href=""> About </a>
    <a href=""> Buy </a>
    <a href=""> Rent </a>
    <a href=""> Sell </a>
    <a href=""> Mortgage </a>
    <a href=""> Insurance </a>
    <a href=""> Agents </a>
    <a href=""> Services </a>
    <a href=""> List Rental </a>
    <a href=""> Advertise </a>
    <a href=""> Careers </a>
    <a href=""> Blog </a>
    <a href=""> Contact </a>
  </div>
</section>