<div >
<section class="newsletter">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-2">
      </div>
      <div class="col-md-4 newsletter__content" >
        <%= image_tag 'mail_icon_blue.png', alt: 'Newsletter', class: 'newsletter__icon'%>
        <div class="newsletter__text-content">
          <h2 class="newsletter__title">Newsletter</h2>
          <p class="newsletter__desc">Subscribe for monthly real estate news</p>
        </div>
      </div><!-- .col -->

      <div class="col-md-4">
        <form action="#" class="newsletter__form">
          <input type="email" class="newsletter__field" placeholder="Enter Your E-mail">
          <button type="submit" class="newsletter__submit">Subscribe</button>
        </form>
      </div><!-- .col -->   
      <div class="col-md-2">
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</section><!-- .newsletter -->
</div>