<div class="property__header">
  <div class="container">
    <div class="property__header-container">
      <ul class="property__main">
        <li class="property__title property__main-item">
          <div class="property__meta">
            <span class="property__offer">For sale</span>
            <span class="property__type">Luxury House</span>
          </div><!-- .property__meta -->
          <h2 class="property__name">Golden House Place 72</h2>
          <span class="property__address"><i class="ion-ios-location-outline property__address-icon"></i>1633 Newcomb Ave, San Francisco, CA 94124</span>
        </li>
        <li class="property__details property__main-item">
          <ul class="property__stats">
            <li class="property__stat"><span class="property__figure">5<sup>&plus;</sup></span> Beds</li>
            <li class="property__stat"><span class="property__figure">3</span> Baths</li>
            <li class="property__stat"><span class="property__figure">1,250</span> sq.ft</li>
          </ul><!-- .listing__stats -->
        </li>
        <li class="property__price property__main-item">
          <h4 class="property__price-primary">$2,568,000</h4>
          <span class="property__price-secondary">$4,824/sq.ft</span>
        </li>
      </ul><!-- .property__main -->

      <ul class="property__list">
        <li class="property__item">
          <a href="#" class="property__link">
            <i class="ion-android-share-alt property__icon" ></i>  
            <span class="property__item-desc">Favorite</span>
          </a>
        </li>
        <li class="property__item">
          <a href="#" class="property__link">
            <i class="ion-ios-loop-strong property__icon"></i>
            <span class="property__item-desc">Compare</span>
          </a>
        </li>
        <li class="property__item">
          <a href="#" class="property__link">
            <i class="ion-android-share-alt property__icon"></i>
            <span class="property__item-desc">Share</span>
          </a>
        </li>
      </ul><!-- .property__list -->
    </div><!-- .property__header-container -->
  </div><!-- .container -->
</div><!-- .property__header -->