<div class="col-md-3">
<h2 class="bookmarked-listing__headline">Howdy, <strong>FelixDG!</strong></h2>
<div class="settings-block">
    <span class="settings-block__title">Manage Account</span>
    <ul class="settings">
        <li class="setting "><a href="my_profile.html" class="setting__link"><i class="ion-ios-person-outline setting__icon"></i>My Profile</a></li>
        <li class="setting"><a href="bookmarked_listing.html" class="setting__link"><i class="ion-ios-heart-outline setting__icon"></i>Bookmarked Listings</a></li>
    </ul>
</div>

<div class="settings-block">
    <span class="settings-block__title">Manage Listing</span>
    <ul class="settings">
        <li class="setting <%= cp(properties_path)%>"><a href="<%= properties_path %>" class="setting__link"><i class="ion-ios-home-outline setting__icon"></i>My Property</a></li>
        <li class="setting <%= cp(new_property_path)%>"><a href="<%= new_property_path %>" class="setting__link"><i class="ion-ios-upload-outline setting__icon"></i>Add New Property</a></li>
        <li class="setting"><a href="package.html" class="setting__link"><i class="ion-ios-cart-outline setting__icon"></i>My Packages</a></li>
    </ul>
</div>

<div class="settings-block">
    <ul class="settings">
        <li class="setting"><a href="change_password.html" class="setting__link"><i class="ion-ios-unlocked-outline setting__icon"></i>Change Password</a></li>
        <li class="setting"><a href="index.html" class="setting__link"><i class="ion-ios-undo-outline setting__icon"></i>Log Out</a></li>
    </ul>
</div>
</div>