 <div class="listing-sort listing-sort--main-listing">
    <div class="listing-sort__inner">
      <ul class="listing-sort__list">
        <li class="listing-sort__item"><a href="#" class="listing-sort__link"><i class="fa fa-th-list" aria-hidden="true" class="listing-sort__icon"></i></a></li>
        <li class="listing-sort__item"><a href="#" class="listing-sort__link listing-sort__link--active"><i class="fa fa-th-large" aria-hidden="true" class="listing-sort__icon"></i></a></li>
      </ul>

      <span class="listing-sort__result">1-10 of 25 results</span>

      <p class="listing-sort__sort">
        <label for="sort-type" class="listing-sort__label"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Sort by </label>
        <select name="sort-type" id="sort-type" class="ht-field listing-sort__field">
          <option value="default">Default</option>
          <option value="low-price">Price (Low to High)</option>
          <option value="high-price">Price (High to Low)</option>
          <option value="featured">Featured</option>
        </select>
      </p><!-- .listing-sort__sort -->
    </div><!-- .listing-sort__inner -->
  </div><!-- .listing-sort -->

  <div class="main-listing__tags">
    <span class="main-listing__result">25 items found</span>
    <ul class="main-listing__list">
      <li class="main-listing__tag">
        <span class="main-listing__tag-label">Property Type:</span>House
        <a href="#" class="main-listing__tag-close">&times;</a>
      </li><!-- .main-listing__tag -->

      <li class="main-listing__tag">
        <span class="main-listing__tag-label">City:</span>New York
        <a href="#" class="main-listing__tag-close">&times;</a>
      </li><!-- .main-listing__tag -->
    </ul><!-- .main-listing__list -->

    <a href="#" class="main-listing__clear">Clear All</a>
  </div><!-- .main-listing__tags -->