<div class="row">
  <section class="widget main-listing__widget">
    <form class="main-listing__form">
      <div class="row">
      <div class="col-md-2 main-listing__wrapper">
        <label class="main-listing__form-title">Property Type</label>
        <div class="main-listing__form-select">
          <input type="radio" name="property-type" id="propertyType1" class="main-listing__form-radio" value="all">
          <label for="propertyType1" class="main-listing__form-label">All</label>
          <span class="main-listing__form-desc">(50)</span>
        </div><!-- main-listing__form-select -->

        <div class="main-listing__form-select">
          <input type="radio" name="property-type" id="propertyType2" class="main-listing__form-radio" value="luxury">
          <label for="propertyType2" class="main-listing__form-label">House</label>
          <span class="main-listing__form-desc">(26)</span>
        </div><!-- main-listing__form-select -->

        <div class="main-listing__form-select">
          <input type="radio" name="property-type" id="propertyType3" class="main-listing__form-radio" value="apartment">
          <label for="propertyType3" class="main-listing__form-label">Apartment</label>
          <span class="main-listing__form-desc">(20)</span>
        </div><!-- main-listing__form-select -->

        <div class="main-listing__form-select">
          <input type="radio" name="property-type" id="propertyType4" class="main-listing__form-radio" value="office">
          <label for="propertyType4" class="main-listing__form-label">Condo</label>
          <span class="main-listing__form-desc">(04)</span>
        </div><!-- main-listing__form-select -->
      </div><!-- .main-listing__wrapper -->

      <div class="col-md-2 main-listing__wrapper">
        <div class="main-listing__wrapper">
        <label for="main-listing-keyword" class="main-listing__form-title">Search</label>
        <input type="text" id="main-listing-keyword" class="main-listing__form-field" placeholder="Enter keywords...">
        </div><!-- .main-listing__wrapper -->

        <label for="listing-city" class="main-listing__form-title">Proximity</label>
        <select name="city" id="listing-city" class="ht-field main-listing__form-field" data-dkcacheid="0">
          <option value="All" selected="">05 miles</option>
          <option value="AL">10 miles</option>
          <option value="AK">20 miles</option>
          <option value="AZ">30 miles</option>
          <option value="AR">40 miles</option>
          <option value="CA">50 miles</option>
          <option value="CO">60 miles</option>
          <option value="CT">70 miles</option>
        </select><!-- .main-listing__form-field -->

        
      </div><!-- .main-listing__wrapper -->

      

      <div class="col-md-2 main-listing__wrapper">
        <label for="listing-bedroom" class="main-listing__form-title">Bedrooms</label>
        <select name="bedroom" id="listing-bedroom" class="ht-field main-listing__form-field" data-dkcacheid="1">
          <option value="All" selected="">All</option>
          <option value="1">1+</option>
          <option value="2">2+</option>
          <option value="3">3+</option>
          <option value="4">4+</option>
          <option value="5">5+</option>
          <option value="6">6+</option>
          <option value="7">7+</option>
          <option value="8">8+</option>
          <option value="9">9+</option>
          <option value="10">10+</option>
        </select><!-- .main-listing__form-field -->

        <div class="main-listing__wrapper">
        <label for="listing-bathroom" class="main-listing__form-title">Bathrooms</label>
        <select name="bathroom" id="listing-bathroom" class="ht-field main-listing__form-field" data-dkcacheid="2">
          <option value="All" selected="">All</option>
          <option value="1">1+</option>
          <option value="2">2+</option>
          <option value="3">3+</option>
          <option value="4">4+</option>
          <option value="5">5+</option>
          <option value="6">6+</option>
          <option value="7">7+</option>
          <option value="8">8+</option>
          <option value="9">9+</option>
          <option value="10">10+</option>
        </select><!-- .main-listing__form-field -->
      </div><!-- .main-listing__wrapper -->

      </div><!-- .main-listing__wrapper -->

      

      <div class=" col-md-2 main-listing__wrapper">
        <label for="min-area" class=" main-listing__form-title">Square Feet</label>
       
        <select name="min-area" id="min-area" class="ht-field main-listing__form-field" data-dkcacheid="3">
            <option value="0" selected="">No min</option>
            <option value="1">100</option>
            <option value="2">200</option>
            <option value="3">300</option>
            <option value="4">400</option>
          </select><!-- .main-listing__form-field -->
          
          <label for="min-area" class="main-listing__form-title" style="padding-top:15px"></label>
          <select name="max-area" id="max-area"  class="ht-field main-listing__form-field" data-dkcacheid="4">
            <option value="0" selected="">No max</option>
            <option value="1">200</option>
            <option value="2">300</option>
            <option value="3">400</option>
            <option value="4">500</option>
          </select><!-- .main-listing__form-field -->
         
        </div><!-- .main-listing__form-container -->
      <!-- .main-listing__wrapper -->

      <div class="col-md-2 main-listing__wrapper">
        <label for="min-lot" class="main-listing__form-title">Lot Size</label>
        <select name="min-lot" id="min-lot" class="ht-field main-listing__form-field" data-dkcacheid="5">
            <option value="0" selected="">No min</option>
            <option value="1">100</option>
            <option value="2">200</option>
            <option value="3">300</option>
            <option value="4">400</option>
          </select><!-- .main-listing__form-field -->
          <label for="min-area" class="main-listing__form-title" style="padding-top:15px"></label>
          <select name="max-lot" id="max-lot" class="ht-field main-listing__form-field" data-dkcacheid="6">
            <option value="0" selected="">No max</option>
            <option value="1">200</option>
            <option value="2">300</option>
            <option value="3">400</option>
            <option value="4">500</option>
          </select><!-- .main-listing__form-field -->
        </div><!-- .main-listing__form-container -->
        <div class="col-md-2">
          <a href="#" class="main-listing__form-more-filter" style="color: #ED4737">More Filter</a>
      <div class="main-listing__form-expand" style="display: none;">
        <div class="main-listing__wrapper">
          <label for="min-year" class="main-listing__form-title">Year Built</label>
          <div class="main-listing__form-container">
            <select name="min-year" id="min-year" class="ht-field main-listing__form-field" data-dkcacheid="7">
              <option value="0" selected="">No min</option>
              <option value="2000">2000</option>
              <option value="2001">2001</option>
              <option value="2002">2002</option>
              <option value="2003">2003</option>
              <option value="2004">2004</option>
              <option value="2005">2005</option>
              <option value="2006">2006</option>
            </select><!-- .main-listing__form-field -->
            <select name="max-year" id="max-year" class="ht-field main-listing__form-field" data-dkcacheid="8">
              <option value="0" selected="">No max</option>
              <option value="2006">2006</option>
              <option value="2007">2007</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
            </select><!-- .main-listing__form-field -->
          </div><!-- .main-listing__form-container -->
        </div><!-- .main-listing__wrapper -->
      </div><!-- .main-listing_-form-expand -->

      <button class="col-md-4 main-listing__form-reset" type="reset" style="background-color: #ED4737">Search</button>
        </div>

      </div><!-- .main-listing__wrapper -->



    </form><!-- .main-listing__form -->
    <p style="font-weight:bold">Price Range :$ <span id="demo"></span> to $ <span>100</span></p>
    <div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange" style="color: #ED4737">
  
</div>
  </section><!-- .widget -->
</div>
<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>