





<section class="contact_banner">
<div class="container">
  <div class="agent-banner-text" >
    <h5>Contact</h5>

  </div>
  <div class="banner-input" style="margin-top">
  <div class="listing-sort listing-sort--main-listing" style="width: 50%;float: left; border-radius: 6px; border: 2px solid white; background: transparent; padding: 0px; visibility: hidden;">
  <input  type="submit" value="" class="main-listing__form-field agent-submit" style="width: 10% ;float:right">   
  <input type="text" id="search_agent" class="main-listing__form-field " placeholder="Search by Name or Location..." style="width: 75% ;float:right; background: transparent; color: white!;">  
  <div class="listing-sort__inner" style="float:left;margin: 0px; width: 25%; padding: 0px;">
    <p class="listing-sort__sort">
      <select name="sort-type" id="sort-type" class="ht-field listing-sort__field" style="width: 138px; padding: 0px;" >
      <option value="ALL">Find Service</option>
        <option value="Agent type1">Assembly</option>
        <option value="Agent type1">Carpet Cleaning</option>
        <option value="Agent type1">Electrical</option>
        <option value="Agent type1">House Cleaning</option>
        <option value="Agent type1">HVAC</option>
        <option value="Agent type1">Handyman</option>
        <option value="Agent type1">IT</option>
        <option value="Agent type1">Junk Removal</option>
        <option value="Agent type1">Lawn Care</option>
        <option value="Agent type1">Moving</option>
        <option value="Agent type1">Painting</option>
        <option value="Agent type1">Plumbing</option>

      </select>
    </p><!-- .listing-sort__sort -->
  </div><!-- .listing-sort__inner -->
</div><!-- .listing-sort -->

  </div>
  

</div>
</section>




<section class="contact">
  <div class="container" style="width: 75%">
      <br/>
      <div class="row" style="text-align: center;">
        <div class"col-md-3"></div>
        <div class"col-md-6">
          <h2 class="contact__title" style="color: #EC4836;">Send Us a Message</h2>
          <hr style="border-color: #EC4836;    margin: 18px 400px;
          "/>
        </div>
        <div class"col-md-3"></div>
      </div>

      <div class="row">
        <div class="col-md-6">
        <form class="contact-form contact-form--no-padding">
        <div class="contact-form__body">
          <div class="row">
            <div class="col-md-12">
              <input type="text" class="contact-form__field contact-form__field--contact" placeholder="Your Name" name="name" required>
            </div>
          </div>
          <input type="email" class="contact-form__field contact-form__field--contact" placeholder="Your Email" name="email" required>
          <input type="tel" class="contact-form__field contact-form__field--contact" placeholder="Phone Number" name="phone number">
          <input type="email" class="contact-form__field contact-form__field--contact" placeholder="Subject" name="email" required>
          
        </div><!-- .contact-form__body -->
      </form><!-- .contact-form -->
        </div><!-- .col -->
        <div class="col-md-6">
           <form class="contact-form contact-form--no-padding">
              <div class="contact-form__body">
                <textarea class="contact-form__field contact-form__comment contact-form__field--contact" cols="30" rows="7" placeholder="Message" name="comment" required ></textarea>
                
              </div><!-- .contact-form__body -->
              <div class="contact-form__footer">
                <input type="submit" class="contact-form__submit contact-form__submit--contact" name="submit" value="Send Message" style="background-color: #EC4836; max-width: 100%" >
              </div><!-- .contact-form__footer -->
            </form><!-- .contact-form -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .contact__main -->
  </div>
</section><!-- .contact -->

<hr/>