<div class="liveExmpls liveexmpls-page" style="padding-top: 100px;     background: #f7f7f7;
">
		<div class="container excontainer" style="    border: 0px solid;
    background: white;
    padding: 38px;">
<h1 class="heading">COOKIES RESN</h1>
<hr/>
<p class="light">Last Modified NOV 13, 2019</p>
<p>At RESN, we believe in being clear and open about how we collect and use data related to you.
This policy provides detailed information about how and when we use cookies.</p>



<h3>What is a “cookie” file?</h3>
<br/>
<p>"Cookie" files, also referred to as "cookies",are small text files created and sent automatically by
websites visited by you. The information contained in these files is saved on your computer (or
another end device, such as a tablet or smartphone) and can only be used by the website from
which it was sent.</p>

<h3>What are the purposes for which the resn.herokuapp.com website uses “cookies”?</h3>
<br/>
  <p>We use Cookies to create statistics and analyses. Analytical "cookies" are used to evaluate the
  statistics of entering the website, as they allow us to find out what your interests and needs are,
  and thus to improve our website. You can find out more about the Google Analytics code and
  Google cookies in the Google Analytics Privacy and Privacy Policy: Google Analytics – safety
  and privacy: https://www.google.com/analytics/learn/privacy.html?hl=pl) and the Adobe Analytics
  code (more information is available on the website: http://www.adobe.com/privacy.html);
  measure the effectiveness of marketing activities conducted for our company;
  match the content of advertisements to your preferences, displayed both on our websites and,
  for example, on Google Display Network (for more information on cookies used on the Google
  Display Network, please visit: https://support.google.com/adwords/answer/2407785);
  monitoring and recording user behavior on the website.</p>


  <h3>What kind of "cookies" do we use?</h3>
<br/>
<p>We use two types of cookies - session and permanent. The first ones are temporary cookies
and remain on your device until you leave the website or close your browser. "Cookies" remain
on your device for a specified period of time or until you manually delete them (how long a
cookie will remain on your device depends on the "lifetime" of the cookie and the settings of
your web browser).</p>


<h3>How can I resign from accepting "cookies"?</h3>
  <br/>
  <p>Most of the browsers used, both on computers and smartphones, accept "cookies" by default.
  You can change it at any time in your browsers settings. However, please be advised that the
  inability to save/read cookies by our website may result in an incorrect display of the site in the
  browser.</p>


  <p>Additionally, we also use other technologies similar to cookies, such as web beacons called
  pixels. These are small graphic files downloaded by your computer or mobile device after
  opening a given website on the Services, via advertising, e-mails or a mobile application. We
  use them to memorize your preferences, as well as for marketing purposes.</p>

  <p>Some cookies are created by entities whose services we use. We use cookies for the purposes
  specified in parentheses :, Google Inc. (Google Analytics, Double Click and Google Adwords),
  Facebook, Adform (traffic analysis and ad effectiveness).</p>



  <h3>Your Choices</h3>
  <br/>
  <p>You have the right to choose whether or not to accept cookies. Nevertheless, they are an
  important part of how our Services work, so you should be aware that if you choose to refuse or
  remove cookies, this could affect the availability and functionality of the Services.</p>


  <p>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to
  set your browser to remove or reject browser cookies. To do so, please follow the instructions
  provided by your browser which are usually located within the “Preferences” menu.Some third
  parties in addition to provide the ability to refuse their cookies directly by clicking on an opt-out
  link.</p>

  <p>Removing or rejecting browser cookies does not necessarily affect third-party flash cookies
  which may be used by us or our partners in connection with our Services. To delete or disable
  flash cookies please visit this site for more information : https://helpx.adobe.com/flash-
  player/kb/disable-local-shared-objects-flash.html</p>

  <hr/>
  <p>
  If you have any questions about this Cookie Statement, please send an email to
support@resn.com. Our Cookie Statement may also be amended from time to time. So visit this
page regularly to keep abreast of updates.
  </p>
</div>
</div>