

<section class="insurance_banner">
      <div class="container">
        <div class="banner-text" style="margin-bottom: 335px; margin-top: 90px;">
          <h5>Insurance</h5>
          <form>
            <input type="text" id="search_buy" placeholder="Enter title or some thing to search properties to buy" name="">
            <input class="submit-btn" type="button" value="" name="" onClick="clickButton();">
          </form>
        </div>
      </div>
    </section>
