<div class="liveExmpls liveexmpls-page" style="padding-top: 100px;     background: #f7f7f7;
">
		<div class="container excontainer" style="    border: 0px solid;
    background: white;
    padding: 38px;">
<h1 class="heading">RESN Privacy Policy</h1>
<hr/>
<p class="light">Last Modified NOV 13, 2019</p>
<p><strong>RESN attaches particular importance to respecting the privacy of personal data
processed within the framework of our business operations.</strong></p>
<p>This Privacy Policy ("Policy") explains what personal information is collected through
our websites and online services, how that information is used, to whom it's
disclosed, and how it's safeguarded. Unless indicated otherwise, this Policy applies
only to personal information collected through the websites, microsites, mobile
applications, and other online services of our brands and lines of business that
expressly adopt, and display or link to, this Policy (collectively, the Services).</p>

<h6>Terms used:</h6>
<br/>
<p><u>“Personal data”</u> means any information by which an individual is identified or can be
identified;</p>


<p><u>“Data subject”</u> is a natural person or company who is identified or identifiable on the
basis of certain information;</p>


<p><u>“Personal data”</u>means any operation or set of operations performed with personal data
or a set of personal data by automatic or other means such as collecting, recording,
organizing, structuring, storing, adapting or modifying, retrieving, consulting, using,
disclosing by transmission, dissemination or other means by which data become
available, arranged or combined, restricted, deleted or destroyed;</p>


<h3>1. Information You Actively Provide through our Services</h3>
<br/>
<p>You actively provide personal information when you visit our Services to do all the
  things typically associated with online services. Examples of the personal information
  we collect include name, address, phone number, email address, personal
  preferences, payment card number, purchase and ordering information, demographic
  information, responses to survey questions, sizing information and any other
  information you choose to provide. Our Services may also give you the option to
  upload or share pictures or videos of yourself and others. You know what information
  you directly provide, because you are affirmatively and actively submitting the
  information.</p>
<p>This information is collected at various places on our Services: for instance, when
you check out with your online order; engage with our mobile applications; subscribe
to catalogs, email offers, and mobile messaging offers; participate in surveys; enter
contests or sweepstakes; or interact with special-event or program offers.</p>

<h3>2. Information Your Devices Provide Automatically</h3>
<div style="margin-left: 1rem;">
  <br/>
  <h5>a. Location Information</h5>
  <p>You may provide information about your location when you access or use our
  Services. For more details, please see What choices do you have over how your
  information is used below.</p>

  <h5>b. Navigational Information</h5>
  <p>When you access our Services, your computer, phone, or other device provides
  navigational information, such as browser type and version, service-provider
  identification, IP address, the site or online service from which you came, and the site
  or online service to which you navigate.</p>

  <h5>c. Cookies and Similar Technologies</h5>
  <p>Cookies and similar technologies also allow us to associate your online navigational
  information with any personal information you provide (such as name, address,
  phone number, survey responses, and email address). We'll associate this
  information to deliver
  services to you; to improve our business; to transact business; and to
  market our products and services on this and other online services, and through a
  variety of media like email, mobile advertising, and direct mail. That can help us
  contact you if your online session is disrupted in mid-purchase, resulting in an
  abandoned cart. The end result is a more personalized experience that's tailored to
  your needs and tastes.</p>

</div>

<h3>3. What choices do you have over how your information is used?</h3>
<div style="margin-left: 1rem;">
  <br/>
  <h5>a. Email</h5>
  <p>You may remove yourself from the RESN email list by following the removal
  instructions located at the bottom of each commercial email or by completing the
  removal from email form. If at any time you'd like to stop future delivery of RESN
  email offers, simply follow the removal instructions located at the bottom of each
  RESN message.</p>

  <h5>b. Location Information</h5>
  <p>You may have the ability to turn location-based services on and off by adjusting the
  settings of your Internet browser or mobile device or, for some devices, by revoking
  permission for our mobile apps to access your location information.</p>

  <h5>c. Cookies</h5>
  <p>Your browser may offer the ability to block or delete cookies from your device. Simply
  follow your browser's instructions on how to block and clear cookies.</p>

</div>


<h3>4.How do we secure your information on our Services?</h3>
<br/>
<p>We maintain administrative, technical and physical safeguards designed to protect
the personal information we collect through our Services against accidental, unlawful
destruction, loss, alteration, access, disclosure or use. While we implement the
above security measures on our site, you should be aware that 100% security is
never possible</p>


  <h3>5. Withdraw consent</h3>
<br/>
<p>You can withdraw your consent at any time. The withdrawal of consent does not
affect the processing of data that took place before the withdrawal. In order to
withdraw your consent, you can send the relevant information to the email address:
support@resn.com</p>


  <h3>6. Where is personal information stored and processed?</h3>
<br/>
<p>Our employees involved in data processing and our servers are based in United
States. We work with affiliated and unaffiliated service providers in the United States
and other jurisdictions around the world</p>


  <h3>7. Whom should you contact with questions or concerns?</h3>
<br/>
<p>General inquiries/ If you have general questions about our Policy, please feel free to
contact us by email at: support@resn.com</p>

  <h3>8. Supplemental Privacy & Cookie Notice for Visitors from the European
  Economic Area</h3>
<br/>
<p>If you are accessing our Services from a member state of the European Economic
Area ("EEA"), this Supplemental Privacy Notice applies to you in addition to our
Online Privacy Policy. This Supplemental Privacy Notice does not otherwise apply to
visitors who are accessing our Services from outside the EEA.</p>

<p>European Union Regulation 2016/679 of 27 April 2016, governing the protection of
natural persons with regard to the processing of personal data and on the free
movement of such data ("EU GDPR"), requires us to provide additional and different
information about our data processing practices to data subjects in the EEA.</p>

  <p>The legal basis for our processing of your personal data in connection with our
  Services is Art. 6.1(b) EU GDPR, which allows processing of personal data as
  necessary for the performance of a contract. When you access our Services,
  you form a contract with us based on our Site Terms, Conditions and Notices,and we need to process your personal data to respond to your requests, ship
  products to you and satisfy our obligations with respect to the other purposes
  listed in our Online Privacy Policy.
  As exceptions, we rely on your consent with respect to cookies and direct
  marketing emails per Art. 6.1(a) EU GDPR, and legitimate interests under Art.
  6.1(f) EU GDPR, especially with respect to situations where we must process
  your personal data to comply with applicable laws (as a U.S.-based company,
  we are subject to U.S. laws and must comply, just like EEA-based companies
  have to comply with EEA laws).
  Recipients or categories of recipients of your personal data are employees of
  our company and affiliated and non-affiliated services providers who have a
  need to know.</p>
  <hr/>
  <p>
  You can contact us with any questions by e-mail : support@resn.com
  </p>
</div>
</div>