<section class="property">
  <div class="container">
    <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding ht-breadcrumbs--b-border">
      <li class="ht-breadcrumbs__item"><a href="#" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Home</span></a></li>
      <li class="ht-breadcrumbs__item"><a href="#" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Property</span></a></li>
      <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">Single Property V2</span></li>
    </ul><!-- ht-breadcrumb -->
  </div><!-- .container -->

  <%= render 'partial/property_header' %>

  <div class="property__container">
    <div class="container">
      <div class="row">
        <%= render 'partial/main_property_content' %>

        <%= render 'partial/side_bar_of_property' %>
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .property__container -->
</section><!-- .property -->