<section class="main-listing">
  <div class="section__header">
    <div class="section__header-overlay">
      <div class="container">
        <h1 class="section__title section__title--centered">Property For Rent</h1>
        <ul class="ht-breadcrumbs ht-breadcrumbs--centered">
          <li class="ht-breadcrumbs__item"><a href="#" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Home</span></a></li>
          <li class="ht-breadcrumbs__item"><a href="#" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Listing</span></a></li>
          <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">List View Rent</span></li>
        </ul><!-- ht-breadcrumb -->
      </div><!-- .container -->
    </div><!-- .section__header-overlay -->
  </div><!-- .section__header -->

  <div class="main-listing__main">
    <div class="container">
      <div class="row">
        <%= render 'partial/side_bar_rental_list' %>
        <%= render 'partial/rental_property'%>
      </div><!-- row -->
    </div><!-- .container -->
  </div><!-- .main-listing__main -->
</section><!-- .main-listing -->

<%= render 'partial/news_letter'%>