<div class="liveExmpls liveexmpls-page" style="padding-top: 100px;     background: #f7f7f7;
">
		<div class="container excontainer" style="    border: 0px solid;
    background: white;
    padding: 38px;">
<h1 class="heading">RESN TERMS OF USE</h1>
<p>IMPORTANT LEGAL INFORMATION</p>

<hr/>
<p class="light">Last Modified NOV 13, 2019</p>



<h3>Overview</h3>
<br/>
<p>The following terms, conditions, and notices ("Site Rules") apply to all visitors
or users of this website, and of microsites, mobile websites or mobile
applications of our brands RESN. We may refer to our brands and lines of
business as "we," "us," or "our" throughout the Site Rules. By using this Site,
you agree to be bound by these rules and regulations, as they may be
modified by us at any time and posted on this Site. In the event of a violation
of these Site Rules, we reserve the right to seek all remedies available by law
and in equity.</p>

<h3>Intellectual Property</h3>
<br/>
  <p>The Site and all of its materials, including, but not limited to, its software or
  HTML code, scripts, text, artwork, photographs, images, video, and audio
  (collectively, "Materials" ) are protected by copyright laws and other U.S. and
  international laws and treaties and are property RESN company. All Materials
  are provided through the Site as a service to its current and prospective visitors
  and may be used only for personal and informational purposes and only if you
  also retain all copyright and other proprietary notices contained on the
  Materials. No right, title or interest in RESN Materials is conveyed to you. You
  may not copy, reproduce, publish, transmit, distribute, perform, display, post,
  modify, create derivative works from, sell, license or otherwise exploit the Site
  or any of its Materials without our prior written permission; you may not access
  or use the Site for any competitive or commercial purpose; nor may you permit
  any copying of our Materials. Any unauthorized copying, alteration, distribution,
  transmission, performance, display, or other use of these Materials is prohibited.
  Any and all rights not expressly granted are reserved by RESN, as applicable.</p>


  <h3>Limited License</h3>
<br/>
<p>You are permitted to share Material or Content provided through the Site on
social media sites such as Facebook, Twitter, Instagram, or similar services.
This permission is a limited license to use the Content and Materials solely for
such purposes and does not represent a transfer of title in any RESN Materials
or Content.</p>


<h3>Mobile Website</h3>
  <br/>
  <p>We make our website available in a mobile-friendly format, as well (our "Mobile
  Site"). All mobile phones that have Internet access can make use of the Mobile
  Site. Users with mobile phones that have this access also have the option to
  view the full html website that is available on your PC.</p>


  <h3>Prohibited Uses of Website and Services</h3>
  <br/>
  <p>You shall not post, transmit, redistribute, upload, or promote any
  communications, content or materials that contain corrupted files, viruses, or
  any other similar software files, the intent of which is to damage the operation of
  another's computer; are unlawful, threatening, harassing, abusive, defamatory,
  invasive of privacy or publicity rights, vulgar, obscene, sexually explicit, hateful,
  profane, indecent, racially or ethnically derogatory, or otherwise objectionable;
  contain chain letters or pyramid schemes; contain any unsolicited advertising,
  promotional materials, or other forms of solicitation to other users, individuals or
  entities; impersonate any person, business or entity, including us (our brands,
  lines of business, subsidiaries, and affiliated companies) and our employees
  and agents; encourage conduct that would constitute a criminal offense; give
  rise to civil liability; violate any law; or exhibit any conduct that, in our judgment,
  restricts, impairs, interferes or inhibits any other user from using or enjoying the
  Site and/or our related services and products. RESN reserves the right to block
  or deny access to the Site to anyone at any time for any reason.</p>


  <h3>Jurisdiction</h3>
  <br/>
  <p>We control the Site from offices from United States. We do not imply that the
    materials published on the Site are appropriate for use outside of the United
    States. If you access the Site from outside of the United States, you do so on
    your own initiative and you are responsible for compliance with local laws.</p>

    <h3>Revisions</h3>
  <br/>
  <p>We may terminate, change, suspend or discontinue any aspect of the Site,
  including the availability of any features of the Site, at any time and without
  notice. We also reserves the right, at our sole discretion, to change, modify, add
  or remove any portion of these Site Rules in whole or in part, at any time and
  without notice. Accordingly, this means we may terminate the authorization,
  rights and license given in these Site Rules at any time and without notice. Your
  continued use of the Site after any changes to these Site Rules are posted will
  be considered acceptance of those changes.</p>



  <hr/>
  <p>
  You can contact us with any questions via e-mail: support@resn.com
  </p>
</div>
</div>