
<section class="travel_banner">
<div class="container">
  <div class="agent-banner-text" style="margin-left: 13px;" >
    <h5>Travel</h5>

  </div>
  <div class="banner-input" style="margin-top">
  <div class="listing-sort listing-sort--main-listing" style="width: 50%;float: left; border-radius: 6px; border: 2px solid white; background: transparent; padding: 0px; visibility: hidden;">
  <input  type="submit" value="" class="main-listing__form-field agent-submit" style="width: 10% ;float:right">   
  <input type="text" id="search_agent" class="main-listing__form-field " placeholder="Search by Name or Location..." style="width: 75% ;float:right; background: transparent; color: white!;">  
  <div class="listing-sort__inner" style="float:left;margin: 0px; width: 25%; padding: 0px;">
    <p class="listing-sort__sort">
      <select name="sort-type" id="sort-type" class="ht-field listing-sort__field" style="width: 138px; padding: 0px;" >
      <option value="ALL">Find Service</option>
        <option value="Agent type1">Assembly</option>
        <option value="Agent type1">Carpet Cleaning</option>
        <option value="Agent type1">Electrical</option>
        <option value="Agent type1">House Cleaning</option>
        <option value="Agent type1">HVAC</option>
        <option value="Agent type1">Handyman</option>
        <option value="Agent type1">IT</option>
        <option value="Agent type1">Junk Removal</option>
        <option value="Agent type1">Lawn Care</option>
        <option value="Agent type1">Moving</option>
        <option value="Agent type1">Painting</option>
        <option value="Agent type1">Plumbing</option>

      </select>
    </p><!-- .listing-sort__sort -->
  </div><!-- .listing-sort__inner -->
</div><!-- .listing-sort -->

  </div>
  

</div>
</section>



