/*Font Family Used In Website*/
/*Roboto (Integrated From Google Fonts Library)*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

@font-face {
    font-family: 'FARRAY';
    src:url('FARRAY.otf');
  }
body {
    font-family: Roboto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 65px;
}
  

section , header , .home footer {
    float: left;
    width: 100%;
}

.theme-footer {
    float: left;
    width: 100%;
}

img {
	max-width: 100%;
}

a {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer !important;
    text-decoration: none !important;
}

.submit-btn{
    background-image: url(search_icon_dark.png);
    width: 40px;
    position: absolute;
    top: 0px;
    border: none;
    height: 55px;
    width: 65px;
    right: 0px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    
}
.footer-links .container {
    border-top: 1px solid silver;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid silver;
    text-align: center;
}
.footer-links a {
    color: black;
    font-weight: 500;
    margin: 0px 10px;
}
.zfoot-logo-full, .znav-logo-full, .znav-logo-mobile {
    color: #006aff;
}


section.footer-text {
    padding: 50px 0px 20px 0px;
    text-align: center;
}


.footer-text p {
    color: #2f2f2f;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 20px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.footer-text h5 svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.footer-text h5 {
    color: grey;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.4px;
}
.footer-text h5 span {
    margin-left: 10px;
    margin-right: 10px;
}

.footer-text span a {
    color: white;
    font-size: 15px;
    width: 30px;
    display: inline-block;
    height: 30px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 5px;
}
.footer-text img {
    width: 50px;
}

section.homes {
    background: #f9f9fb;
    padding: 60px 0px 80px 0px;
}

.homes-head {
    float: left;
    width: 100%;
    margin-bottom: 45px;
    text-align: center;
}
.homes-head h5 {
    color: black;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.7px;
    text-transform: capitalize;
}
.homes-head h6 {
    background: #ffd237;
    display: block;
    width: 150px;
    height: 1px;
    margin: auto;
    margin-top: 30px;
}
.home-box {
    float: left;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 3px silver;
    text-align: center;
    padding: 30px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.login-background{
    background: url("login_banner.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.home-box:hover {
transform:scale(1.05);
-webkit-transform:scale(1.05);
box-shadow: 0px 0px 15px silver;
margin-top: -10px;
}

.home-box:hover a {
    background:#006aff;
    border:1px solid #006aff;
    color:white;
}
.home-box img {
    height: 160px;
    margin-bottom: 12px;
}

.home-box h5 {
    color: black;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 22px;
}

.home-box p {
    color: black;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    min-height: 80px;
}

.home-box a {
    display: inline-block;
    border: 1px solid silver;
    font-weight: 600;
    font-size: 15px;
    padding: 9px 26px;
    letter-spacing: 0.6px;
    color: #006aff;
}

header {
    padding: 10px 0px;
    text-align: center;
}
.navbar-custom {
    background: #FFF;
    z-index: 9999;
    float: left;
    width: 100%;
}
.menu-item {
    display: inline-block;
    margin: 0px 15px;
    vertical-align: middle;
}
.menu-logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 50px;
}
.menu-logo a{
    margin-left: 42px;
}
.menu-item a {
    color: black;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.banner {
    margin-top: -35px;
    background-image: url("RESNwalp3.jpg");
    background-size: 100% 100%;
    background-position: top center;

}

.service_banner {
    margin-top: -4rem;

    background-image: url("service_banner.png");
    background-size: 100% 100%;
    background-position: top center;

}

.buy_banner {
    background-image: url("buy_banner.png");
    background-size: 100% 100%;
    background-position: top center;

}

.rent_banner {
    background-image: url("rent_banner.png");
    background-size: 100% 100%;
    background-position: top center;

}

.agent_banner {
    background-image: url("agent_banner.png");
    background-size: 100% 100%;
    background-position: top center;
}

.insurance_banner {
    background-image: url("insurance_banner.png");
    background-size: 100% 100%;
    background-position: top center;
}

.mortgage_banner {
    margin-top: -1.5rem;
    background-image: url("mortgage_banner.png");
    background-size: 100% 100%;
    background-position: top center;
}


.mobile_banner {
    background-image: url("MobileApps.png");
    background-size: 100% 100%;
    background-position: top center;
}

.contact_banner {
    background-image: url("contact_banner.png");
    background-size: 100% 100%;
    background-position: top center;
}

.partners_banner {
    background-image: url("partners_banner.png");
    background-size: 100% 100%;
    background-position: top center;
}

.investors_banner {
    background-image: url("investors_banner.png");
    background-size: 100% 100%;
    background-position: top center;
}
.team_banner {
    background-image: url("team_banner.png");
    background-size: 100% 100%;
    background-position: top center;
}

.blog_banner {
    background-image: url("blog_banner.png");
    background-size: 100% 100%;
    background-position: top center;
}

.travel_banner {
    background-image: url("travel_banner.png");
    background-size: 100% 100%;
    background-position: top center;
}

div[dir="rtl"] select option {
    direction: rtl;
    text-align: right;
}
.hotels_banner {
    background-image: url("hotels_banner.png");
    background-size: 100% 100%;
    background-position: top center;
}

.about_banner {
    background-image: url("about_banner.png");
    background-size: 100% 100%;
    background-position: top center;
}

.banner-text {
    float: left;
    width: 100%;
    margin-bottom: 300px;
    margin-top: 100px;
    text-align: center;
}

.agent-banner-text {
    float: left;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 80px;
    text-align: center;
}

.banner-input {
    float: left;
    width: 100%;
    margin-bottom: 410px;
    margin-top: -195px;
    text-align: center;
    margin-left: 18rem;
}

.banner-text h5 {
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'FARRAY';
}

.agent-banner-text h5 {
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: 'FARRAY';
}

.people-nearby .google-maps{
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #f1f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .people-nearby .google-maps .map{
    height: 300px;
    width: 100%;
    border: none;
  }
  
  .people-nearby .nearby-user{
    padding: 20px 0;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    margin-bottom: 20px;
  }
  
  img.profile-photo-lg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  
._1ekkhy94 {
    font-size: 46px !important;
    line-height: 1.1304347826086956em !important;
}

._czm8crp {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
}

.profile-left {
    border: 1px solid #e4e4e4 !important;
    border-radius: 1px !important;
    padding: 24px !important;
    height: 17rem;
}

.pic-wrapper {
    text-align: center !important;

}

._e296pg {
    height: 120px;
    width: 120px;
    display: block;
}
._1mgxxu3 {

    background-color: var(--color-accent-light-gray, #D8D8D8) !important;
    border-radius: var(--border-profile-photo-border-radius, 50%) !important;
    border-width: var(--border-profile-photo-border-width, 2px) !important;
    border-color: var(--color-white, #ffffff) !important;
}
._teetq4b {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.375em !important;
    color: #ED4737 !important;
    text-align: center !important;
}
div.dropdown {
    color: #555;
    margin: 15px 0px 0 -150px;
    width: 143px;
    position: relative;
    height: 17px;
    text-align:left;
    }
    div.submenu
    {
    position: absolute;
    z-index: 100;
    width: 135px;
    display: none;
    margin-left: 10px;
    padding: 40px 0 5px;
    border-radius: 6px;
    }
    .dropdown  li a {
    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration:none;
    }
    .dropdown li a:hover{
    background:#ED4737;
    color: #FFFFFF;
    text-decoration: none;
    }
    a.account {
    font-size: 11px;
    line-height: 16px;
    color: #555;
    position: absolute;
    z-index: 110;
    display: block;
    padding: 11px 0 0 20px;
    height: 28px;
    width: 121px;
    margin: -6px 0 0 0px;
    text-decoration: none;
    background: url(images/arrow.png) 80px 32px no-repeat;
    cursor:pointer;
    }
    .root
    {
    list-style: none;
    font-size: 11px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    background: #fff;
    padding: 10px 0 10px 0;
    border-radius: 5px 5px 5px 5px;
    margin: 21px 0 0 0;
    }
    .root:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #ffffff;
    position: absolute;
    color: #ffffff;
    top: 54px;
    left: 17px;
    }
    .profile-circle {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    }

.banner-text p {
    color: white;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.8px;
    margin-bottom: 25px;
}
.banner-text a {
    display: inline-block;
    border: 1px solid #ed4737;
    font-weight: 600;
    font-size: 15px;
    padding: 9px 26px;
    letter-spacing: 0.6px;
    color: #ed4737;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 25px;
}
.banner-text a.active, a:active{
    color: #006aff;
}
.banner-text a:hover{
    color: #006aff;
}
.banner-text form {
    background: white;
    width: 100%;
    max-width: 600px;
    border: 3px solid #fff;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    text-align: left;
    margin-bottom: 15px;
}

.banner-text input[type="text"] {
    width: 95%;
    border: none;
    vertical-align: top;
    height: 55px;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.6px;
    padding:0px 15px;
    background-color: #ed4737;
}
.banner-text input[type="text"]::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

.banner-text input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.banner-text input[type="text"]::placeholder {
  color: #fff;
}
.banner-text input[type="submit"] {
    background-image: url("search_icon_dark.png");
    width: 40px;
    position: absolute;
    top: 0px;
    border: none;
    height: 55px;
    width: 65px;
    right: 0px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.agent-submit {
    background-image: url("search_icon_dark.png");
    width: 40px;
    position: absolute;
    top: 0px;
    border: none;
    height: 55px;
    width: 65px;
    right: 0px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}
section.info-listings {
    padding: 60px 0px 40px 0px;
}



.info-box {
    float: left;
    width: 100%;
    text-align: center;
}


.info-box h5 {
    color: black;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    border: 1px solid silver;
    margin: 0px;
    padding: 15px 0px;
    border-radius: 5px;
    margin-bottom: 25px;
    cursor: pointer;
}

.info-box p {
    margin-bottom: 7px;
    font-size: 15px;
    letter-spacing: 0.4px;
    display:none;
}

h5.blue-bg {
    background: #006aff;
    color: white;
}
.menu-hamburger {
display: none;
}

.container {
    width: 100%;
    max-width: 1170px;
}

body {
    overflow-x: hidden;
}

/*Media Queries Of Website*/

/*Small Laptops*/
@media screen and (max-width:992px) and (min-width:768px) { 
.homes-data .col-md-4.col-lg-4.col-sm-4.col-xs-12 {
    width: 45%;
    margin: auto;
    float: none;
    display: inline-block;
    margin-bottom: 30px;
}
.homes-data  {
    text-align: center;
}
.banner-text {
    float: left;
    width: 100%;
    margin-bottom: 218px;
    margin-top: 50px;
    text-align: center;
}

.navbar-custom {
    float: left;
    width: 100%;
    padding-top: 40px;
}

.menu-logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 30px;
    float: left;
    position: absolute;
    top: 20px;
    left: 0px;
}
.menu-hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: #006aff;
    padding: 3px;
}
.menu-hamburger img {
    width: 30px;
}
.menu-item {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
    float: left;
    width: 100%;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 5px;
    display: none;
}
}


/*Tablet Devices*/
@media screen and (max-width:767px) and (min-width:520px) { 
header {
    padding: 15px 0px;
    text-align: center;
}


.navbar-custom {
    float: left;
    width: 100%;
    padding-top: 60px;
}

.menu-logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 30px;
    float: left;
    position: absolute;
    top: 20px;
    left: 0px;
}

.menu-hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: #006aff;
    padding: 3px;
}
.menu-hamburger img {
    width: 30px;
}
.menu-item {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
    float: left;
    width: 100%;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 5px;
    display: none;
}
.banner-text {
    float: left;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 50px;
    text-align: center;
}

.banner-text h5 {
    color: white;
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.banner-text input[type="text"] {
    width: 95%;
    border: none;
    vertical-align: top;
    height: 55px;
    font-weight: 500;
    color: black;
    font-size: 13px;
    letter-spacing: 0.6px;
    padding: 0px 15px;
}
.homes-head h5 {
    color: black;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.7px;
    text-transform: capitalize;
}
.home-box {
    float: none;
    width: 450px;
    background: white;
    box-shadow: 0px 0px 3px silver;
    text-align: center;
    padding: 30px;
    margin: auto;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    margin-bottom: 35px;
}
.home-box:hover {
    margin-top: 0px;
}
.info-listings .col-md-3.col-lg-3.col-sm-6.col-xs-6 {
    width: 100%;
}
.footer-text h5 svg {
    display: block;
    vertical-align: middle;
    margin-right: 20px;
    margin: auto;
    margin-bottom: 20px;
}
.banner-text form {
    background: white;
    width: 100%;
    max-width: 500px;
    border: 2px solid #000000;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    text-align: left;
}
.homes-head h5 br {
    display: none;
}


}




/*Mobile Devices*/
@media screen and (max-width:519px) and (min-width:320px) { 

header {
    padding: 15px 0px;
    text-align: center;
}


.navbar-custom {
    float: left;
    width: 100%;
    padding-top: 60px;
}

.menu-logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 30px;
    float: left;
    position: absolute;
    top: 20px;
    left: 0px;
}

.menu-hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: #006aff;
    padding: 3px;
}
.menu-hamburger img {
    width: 30px;
}
.menu-item {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
    float: left;
    width: 100%;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 5px;
    display: none;
}
.banner-text {
    float: left;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 50px;
    text-align: center;
}

.banner-text h5 {
    color: white;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.banner-text input[type="text"] {
    width: 95%;
    border: none;
    vertical-align: top;
    height: 55px;
    font-weight: 500;
    color: black;
    font-size: 13px;
    letter-spacing: 0.6px;
    padding: 0px 15px;
}
.homes-head h5 {
    color: black;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.7px;
    text-transform: capitalize;
}
.home-box {
    float: left;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 3px silver;
    text-align: center;
    padding: 30px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    margin-bottom: 35px;
}
.info-listings .col-md-3.col-lg-3.col-sm-6.col-xs-6 {
    width: 100%;
}
.footer-text h5 svg {
    display: block;
    vertical-align: middle;
    margin-right: 20px;
    margin: auto;
    margin-bottom: 20px;
}
.home-box:hover {
    margin-top: 0px;
}
}

/* Login & Signup */
/* Login / Signup */
#user-account-form{
  width: 400px;
  margin-top: 100px;
  max-width: 400px;
  margin: auto;
  background-color: white;
}
/* Header End */

/* Login and SignUp Style Start */
.rounded-content-frame__header {
    background-color: rgba(241,238,234,0.2);
    border-bottom: 1px solid #F1EEEA;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    color: #3D3D66;
}
.bold {
  color: #061678;
  font-weight: 700;
}
.rounded-content-frame__content {
  padding: 10px 20px 20px 20px;
}
.rounded-content-frame__content .title {
  font-size: 30px;
  font-weight: normal;
}
#login-signup fieldset ol li {
    overflow: visible;
}
fieldset ol{
  padding: 0 15px;
}
fieldset ol>li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
}
.mb3 {
    margin-bottom: 1.8rem;
}
.form-simple label {
    margin-bottom: 5px;
}
.offscreen {
    left: -999em;
    position: absolute;
}
.form-simple input{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 6px;
  -webkit-appearance: none;
  background: white;
  border: 1px solid #dad7d4;
  color: #020621;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}
.form-simple input:focus{
  border-color: #2752ff;
  background-color: #FFF;
  -webkit-transition: all 0.2s ease-in-out 0.2s;
  -moz-transition: all 0.2s ease-in-out 0.2s;
  -ms-transition: all 0.2s ease-in-out 0.2s;
  -o-transition: all 0.2s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out 0.2s;
  -webkit-box-shadow: #F8F9FD 0 0 5px;
  -moz-box-shadow: #F8F9FD 0 0 5px;
  -ms-box-shadow: #F8F9FD 0 0 5px;
  -o-box-shadow: #F8F9FD 0 0 5px;
  box-shadow: #F8F9FD 0 0 5px;
  outline: none;
}
.m0 {
  margin: 0rem;
}
.btn[class*="btn--"] {
  font-weight: bold;
}
.btn--block {
  display: block;
  width: 100%;
}
.btn--green, .btn--like.btn--liked {
  background-color: #25CB68 !important;
  color: #FFFFFF !important;
}
.text-strikethru {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.text-strikethru .line {
  height: 1px;
  background-color: #F1EEEA;
  width: 90%;
  margin-left: 5%;
}
.text-strikethru .text {
  display: inline-block;
  background-color: #FFFFFF;
  padding: 5px 10px;
  font-size: 14px;
  top: -16px;
  position: relative;
  color: #3D3D66;
}
.mb2 {
  margin-bottom: 1.2rem;
}
.mb_custom{
  padding: 0 15px;
}
.btn--facebook {
  background-color: #3b5998;
  color: #FFFFFF;
}
.btn--google{
  background-color: #DB4437;
  color: #FFFFFF;
}
.relative {
    position: relative;
}
.forgot-password-link {
  position: relative;
  padding: 10px 10px 10px 0px;
  top: 7px;
  right: 0px;
  font-size: 12px;
  cursor: pointer;
  text-align: right;
  color: #061678;
}
.rounded-content-frame__footer {
  border-top: 1px solid #F1EEEA;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: #3D3D66;
}
#error_explanation ul{
  list-style-type: none;
}
.custom_textarea{
  border: 1px solid #dad7d4;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
/* Login and SignUp Style End */


.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  height: 510px;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #ED4737;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 470px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #ED4737 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #ED4737 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 416px;
  overflow-y: auto;
}

@mixin font-bold {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
@mixin font {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1000px;
    --blue: #ED4737;
}

.body-1 {
    background-color: var(--bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @include font;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/image.jpg');
    background-size: cover;
    background-repeat: none;
}
.wrapper1 {
    position: relative;
    left: 50%;
    width: var(--wrapper);
    height: 800px;
    transform: translate(-50%, 0);
}
.container1 {
    position: relative;
    top: 48%;
    left: 50%;
    width: 85%;
    height: 75%;
    background-color: var(--white);
    transform: translate(-50%, -50%);
    .left {
        float: left;
        width: 37.6%;
        height: 96%;
        border: 1px solid var(--light);
        background-color: var(--white);
        .top {
            position: relative;
            width: 100%;
            height: 96px;
            padding: 29px;
            &:after {
                position: absolute;
                bottom: 0;
                left: 50%;
                display: block;
                width: 80%;
                height: 1px;
                content: '';
                background-color: var(--light);
                transform: translate(-50%, 0);
            }
        }
        input {
            float: left;
            width: 188px;
            height: 42px;
            padding: 0 15px;
            border: 1px solid var(--light);
            background-color: #eceff1;
            border-radius: 21px;
            @include font();
            &:focus {
                outline: none;
            }
        }
        a.search {
            display: block;
            float: left;
            width: 42px;
            height: 42px;
            margin-left: 10px;
            border: 1px solid var(--light);
            background-color: var(--blue);
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png');
            background-repeat: no-repeat;
            background-position: top 12px left 14px;
            border-radius: 50%;
        }
        .people {
            margin-left: -1px;
            border-right: 1px solid var(--light);
            border-left: 1px solid var(--light);
            width: calc(100% + 2px);
            .person {
                position: relative;
                width: 100%;
                padding: 12px 10% 16px;
                cursor: pointer;
                background-color: var(--white);
                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    display: block;
                    width: 80%;
                    height: 1px;
                    content: '';
                    background-color: var(--light);
                    transform: translate(-50%, 0);
                }
                img {
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin-right: 12px;
                    border-radius: 50%;
                }
                .name {
                    font-size: 14px;
                    line-height: 22px;
                    color: var(--dark);
                    @include font-bold;
                }
                .time {
                    font-size: 14px;
                    position: absolute;
                    top: 16px;
                    right: 10%;
                    padding: 0 0 5px 5px;
                    color: var(--grey);
                    background-color: var(--white);
                }
                .preview {
                    font-size: 14px;
                    display: inline-block;
                    overflow: hidden !important;
                    width: 70%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: var(--grey);
                }
                &.active,&:hover {
                    margin-top: -1px;
                    margin-left: -1px;
                    padding-top: 13px;
                    border: 0;
                    background-color: var(--blue);
                    width: calc(100% + 2px);
                    padding-left: calc(10% + 1px);
                    span {
                        color: var(--white);
                        background: transparent;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    .right {
        position: relative;
        float: left;
        width: 62.4%;
        height: 96%;
        .top {
            width: 100%;
            height: 47px;
            padding: 15px 29px;
            background-color: #eceff1;
            span {
                font-size: 15px;
                color: var(--grey);
                .name {
                    color: var(--dark);
                    @include font-bold;
                }
            }
        }
        .chat {
            position: relative;
            display: none;
            overflow: hidden;
            padding: 0 35px 92px;
            border-width: 1px 1px 1px 0;
            border-style: solid;
            border-color: var(--light);
            height: calc(100% - 48px);
            justify-content: flex-end;
            flex-direction: column;
            &.active-chat {
                display: block;
                display: flex;
                .bubble {
                    transition-timing-function: cubic-bezier(.4,-.04, 1, 1);
                    @for $i from 1 through 10 {
                        &:nth-of-type(#{$i}) {
                            animation-duration: .15s * $i;
                        }
                    }
                }
            }
        }
        .write {
            position: absolute;
            bottom: 29px;
            left: 30px;
            height: 42px;
            padding-left: 8px;
            border: 1px solid var(--light);
            background-color: #eceff1;
            width: calc(100% - 58px);
            border-radius: 5px;
            input {
                font-size: 16px;
                float: left;
                width: 347px;
                height: 40px;
                padding: 0 10px;
                color: var(--dark);
                border: 0;
                outline: none;
                background-color: #eceff1;
                @include font;
            }
            .write-link {
                &.attach {
                    &:before {
                        display: inline-block;
                        float: left;
                        width: 20px;
                        height: 42px;
                        content: '';
                        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png');
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                &.smiley {
                    &:before {
                        display: inline-block;
                        float: left;
                        width: 20px;
                        height: 42px;
                        content: '';
                        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png');
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                &.send {
                    &:before {
                        display: inline-block;
                        float: left;
                        width: 20px;
                        height: 42px;
                        margin-left: 11px;
                        content: '';
                        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png');
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
        .bubble {
            font-size: 16px;
            position: relative;
            display: inline-block;
            clear: both;
            margin-bottom: 8px;
            padding: 13px 14px;
            vertical-align: top;
            border-radius: 5px;
            &:before {
                position: absolute;
                top: 19px;
                display: block;
                width: 8px;
                height: 6px;
                content: '\00a0';
                transform: rotate(29deg) skew(-35deg);
            }
            &.you {
                float: left;
                color: var(--white);
                background-color: var(--blue);
                align-self: flex-start;
                animation-name: slideFromLeft;
                &:before {
                    left: -3px;
                    background-color: var(--blue);
                }
            }
            &.me {
                float: right;
                color: var(--dark);
                background-color: #eceff1;
                align-self: flex-end;
                animation-name: slideFromRight;
                &:before {
                    right: -3px;
                    background-color: #eceff1;
                }
            }
        }
        .conversation-start {
            position: relative;
            width: 100%;
            margin-bottom: 27px;
            text-align: center;
            span {
                font-size: 14px;
                display: inline-block;
                color: var(--grey);
                &:before,&:after {
                    position: absolute;
                    top: 10px;
                    display: inline-block;
                    width: 30%;
                    height: 1px;
                    content: '';
                    background-color: var(--light);
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
        }
    }
}
@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}


@import url("https://fonts.googleapis.com/css?family=Montserrat:600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.checkthat {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(270deg, #F63D47, #F63D47, #F63CF0);
  background-size: 150% 150%;
  animation: backgroundAnimation 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.profile {
  animation: loadProfile 0.6s ease-in-out;
  animation-fill-mode: both;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 750px;
  max-width: 900px;
}

.profile-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  background: white;
  box-shadow: 0 30px 50px -20px rgba(14, 0, 47, 0.21);
  width: calc(100% - 75px);
  height: calc(100% - 110px);
  z-index: -1;
}

.container2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
} 

.profile-image {
  animation: loadProfileImage 1s ease-in-out 0.5s;
  animation-fill-mode: both;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 25px 45px -20px rgba(255, 0, 47, 0.55),
    inset 0 0px 120px rgba(255, 0, 47, 0.75);
  width: 45%;
  flex: none;
  background-image: url("https://a0.muscache.com/defaults/user_pic-50x50.png?v=3");
  background-size: cover;
  background-position: center;
}

.profile-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #ff2256;
  opacity: 0.8;
  mix-blend-mode: screen;
}

.camera {
  color: #FFFF;
  position: absolute;
  bottom: 28px;
  left: 28px;
  font-size: 1.3rem;
}

.profile-info {
  margin-top: 120px;
  padding: 8% 8% 2% 8%;
  position: relative;
}

.profile-info h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0.7rem;
  position: absolute;
  animation-fill-mode: both;
}

h1.first-name {
  animation: titleEffect 1s cubic-bezier(0,0.2,0.4,1);
  top: -115px;
  left: -85px;
} 

h1.second-name {
  animation: titleEffect 1s cubic-bezier(0,0,0.3,1);
  top: -50px;
  left: -45px;
}

.profile-info h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-top: 0;
  margin-bottom: 5%;
}

.social-media-icons a,
.profile-info h2 {
  color: #f63d47;
}

.profile-info p {
  line-height: 1.5rem;
}

.social-media-icons {
  display: flex;
}

.social-media-icons a {
  margin-top: 7%;
  font-size: 1.2rem;
  flex: auto;
  text-align: center;
}

.camera,
.social-media-icons a {
  transition: text-shadow 0.5s ease;
}

.camera:hover,
.social-media-icons a:hover {
  text-shadow: 0px 5px 15px rgba(255, 0, 47, 0.45);
}

.statistics {
  margin-right: 10px;
  margin-left: 10px;
  line-height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statistics p {
  margin: 3%;
  flex: auto;
  color: #f63d47;
}

.statistics p strong {
  font-size: 1.4rem;
  color: #000;
  font-weight: 200;
  margin-right: 0.3rem;
}

.icon {
  background: transparent no-repeat center;
  background-size: contain;
  background-origin: content-box;
  width: 60px;
  height: 60px;
  padding: 15px;
  border: none;
  transition: transform 0.5s ease;
}

.icon:hover {
  transform: scale(0.9);
}

.arrow {
  flex: 0 1 75px;
  background-image: url("https://zephyo.github.io/22Days/code/3/graphics/arrow.svg");
}

.right2 {
  transform: rotate(180deg);
}

.right2:hover {
  transform: scale(0.9) rotate(180deg);
}

.close {
  background-image: url("https://zephyo.github.io/22Days/code/3/graphics/close.svg");
  position: absolute;
  top: 5px;
  right: 10px;
}

@media only screen and (max-aspect-ratio: 4/7) and (max-width: 600px) {
  .profile {
    margin: 3%;
    height: 97%;
  }
  .container2 {
    height: 86%;
    flex-direction: column;
  }
  .profile-image {
    height: 40%;
    width: calc(100% - 90px);
  }
  .profile-bg {
    width: 100%;
  }
  h1.first-name {
    left: 10px;
  }
  h1.second-name {
    left: 60px;
  }
}

@media screen and (min-aspect-ratio: 4/7) {
  .profile {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes loadProfile {
 from{
    transform: translateY(100px);
    opacity: 0;
  }
 to {
     transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes loadProfileImage {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
 to {
     transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes titleEffect {
 from {
   opacity:0;
     transform: translateX(-75px);
  }
  to {
     transform: translateX(0px);
    opacity: 1;
  }
}


.liveexmpls-page {
    padding: 20px 0 50px 0;
    background-color: #f3f3f3;
}

.liveExmpls {
}
.liveexmpls-page .intro-liveExmpls .container.excontainer, .liveexmpls-page .liveExmpls .container.excontainer {
    padding: 0 15px;
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading {
    font-family: 'Source Sans Pro',sans-serif;
    color: #ED4737;
    margin: 10px 0;
}

.liveExmpls p {
    margin-bottom: 20px;
}

.light {
    color: #777;

}