
<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
<div class="home-box">
  <%= image_tag "uploads/manage-item-1.jpg" %>
  <h5> <%= f.my_views %></h5>
  <small><p style="color: #666F7A;">By: <%= f.user.email %></p></small>
  <p> Price: <%= f.price%> </p>
</div>
</div>
